/* Toggle Switch 스타일 */
.toggle {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .toggle input {
    display: none;
  }
  
  .slider {
    position: relative;
    width: 60px;
    height: 34px;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .label-text {
    margin-left: 10px;
    font-size: 16px;
  }
  
  /* 폼 스타일 */
  #userForm {
    width: 25%;
    border: 2px solid #2196F3;
    border-radius: 10px;
    padding: 20px;
    margin-left: 20px;
  }

  /* h3 태그 스타일 */
  #userForm h3 {
    text-align: center;
  }
  